<!DOCTYPE html>

<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Savevior</title>
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

      <!-- Favicon ================== -->
      <!-- Standard -->
      <link rel="shortcut icon" href="static/img/favicon-144.png">
      <!-- Retina iPad Touch Icon-->
      <link rel="apple-touch-icon" sizes="144x144" href="static/img/favicon-144.png">
      <!-- Retina iPhone Touch Icon-->
      <link rel="apple-touch-icon" sizes="114x114" href="static/img/favicon-114.png">
      <!-- Standard iPad Touch Icon-->
      <link rel="apple-touch-icon" sizes="72x72" href="static/img/favicon-72.png">
      <!-- Standard iPhone Touch Icon-->
      <link rel="apple-touch-icon" sizes="57x57" href="static/img/favicon-57.png">

      <link href='static/js/metricsgraphics.css' rel='stylesheet'>

      <!--  Resources style ================== -->
      <link href="static/css/theme-FuchiStudio.css" rel="stylesheet" type="text/css" media="all"/>
    </head>
    <body>
      <section class="animsition">

        <div class="gradient">
          <div id="home" >
            <!-- Your logo -->
  			    <img src="static/img/Logomakr_6SKoM4.png" alt="" class="main-logo" />
            <div class="h-content">
              <h1>Savevior<br> </h1>
              <h3>Know Your Spendings. Know Yourself.</h3>
              <p>Savevior tracks and monitors your day-to-day spendings and provides unique insights about your spending habits. Our aim is to increase the awareness of your spendings for things that you may not even be aware of. Savevior uses machine learning to deliver greater insights about yourself. </p> <br>
              <p> Use your Citi Bank Account:</p>
                      <div class="price consecteturl-sm-4 col-xs-4">
                <a href="{{ login_url }}"><h4>Log In</h4></a>
              </div>
            </div>

          </div>

        </div>


      </section>

      <script src="static/js/jquery-1.11.3.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
      <script src="static/js/animsition.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
      <script src="static/js/jquery.magnific-popup.min.js"></script>
      <script src="static/js/jquery.countdown.min.js"></script>
      <script src="static/js/twitterFetcher_min.js"></script>
      <script src="static/js/masonry.pkgd.min.js"></script>
      <script src="static/js/imagesloaded.pkgd.min.js"></script>
      <script src="static/js/jquery.flexslider-min.js"></script>
      <script src="static/js/photoswipe.min.js"></script>
      <script src="static/js/photoswipe-ui-default.min.js"></script>
      <script src="static/js/jqinstapics.min.js"></script>
      <script src="static/js/script.js"></script>
  </body>
</html>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.2/d3.min.js" charset="utf-8"></script>

    <script src='static/js/metricsgraphics.js'></script>